.contact {
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    li {
      padding: 5px;

      a {
        display: flex;
        text-decoration: none;
        outline: none;

        span {
          color: black;
          margin: 0 10px;

          @media (max-width: 576px) {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}