.contact {
  margin: auto;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;


    li {
      padding: 5px;

      a {
        display: flex;
        color: rgb(113, 199, 221);

        span {
          margin: 0 10px;

          @media (max-width: 576px) {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}